@import "fonts.css";
@import "grid.css";
@import "slider.css";
@import "cards.css";
@import "buttons.css";
@import "../icons/css/all.min.css";

/* Переменные */
:root {
    --bg-light: #efefef;
    --red: #de000e;
    --dark-red: #c7000d;
    --light-red: #ff6c6c;
    --light-gray: #424242;
    --xl-max: 1183px;
    --xl-min: 992px;
    --l-max: 991px;
    --l-min: 769px;
    --m-max: 768px;
    --m-min: 430px;
    --s-max: 429px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Шапка */
header {
    padding: 20px 0;
    background: #fff;
}

header .container {
    display: flex;
}

header .logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

header .logo .header {
    line-height: 1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #de000e;
    margin-top: 15px;
}

header .logo img {
    width: 80px;
}

header .links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-left: auto;
}

header .links .link {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}

header .links .link:hover {
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.4);
}

header .responsive {
    display: none;
}

header .responsive-links {
    display: none;
    width: 100%;
    background: #eeeeee;
    margin: 0;
    list-style: none;
    padding: 20px 30px;
}

header .responsive-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

header .responsive-links.opened {
    display: block;
}

@media (min-width: 991px) {
    header .responsive-links {
        display: none;
    }
}

@media (max-width: 991px) {
    header .links {
        display: none;
    }

    header .responsive {
        display: flex;
        margin-left: auto;
    }

    header .responsive .open-menu {
        position: relative;
        width: 30px;
        height: 18px;
        background: transparent;
        border: none;
        padding: 0;
        margin: auto;
    }

    header .responsive .open-menu::before {
        top: 0;
    }

    header .responsive .open-menu::after {
        bottom: 0;
    }

    header .responsive .open-menu::before, header .responsive .open-menu::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background: #000;
        transition: .3s all;
    }

    header .responsive .open-menu.opened::before {
        top: 7px;
        transform: rotate(45deg);
    }

    header .responsive .open-menu.opened::after {
        bottom: 7px;
        transform: rotate(-45deg);
    }
}

footer {
    margin-top: 30px;
    padding: 30px 0;
    background: #ffffff;
}

footer .logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

footer .logo .header {
    line-height: 1;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: #de000e;
    margin-top: 15px;
}

footer .logo img {
    width: 100px;
}

footer .logo-links {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
}

@media (max-width: 768px) {
    footer .logo {
        margin: auto auto 10px;
    }
    footer .logo-links {
        flex-flow: column;
        justify-content: center;
        gap: 10px;
    }
}

footer .contact {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

footer .highlight {
    color: #9f9f9f;
    font-size: 18px;
}

footer .contact a {
    color: #000;
    text-decoration: none;
    transition: .3s all;
    font-size: 18px;
}

footer .contact a:hover {
    color: var(--red);
}

footer .nav {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    footer .nav {
        grid-template-columns: 1fr;
    }
}

footer .nav .link {
    color: #000;
    text-decoration: none;
    transition: .3s all;
}

footer .nav .link:hover {
    color: var(--red);
}

footer .copyright {
    color: #9f9f9f;
    margin-top: 30px;
}

/* Адаптация */

@media (max-width: 768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}