.btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    background: var(--red);
    padding: 10px 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s all;
    box-shadow: 0 0 4px 1px #ff6c6c;
}

.btn:hover {
    transform: translateY(4px);
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.4);
    background: var(--dark-red);
}

.btn:focus-visible {
    outline: none;
}