main {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(45deg, #ff8989, #ffd1d1);
    padding: 30px 0;
}

form {
    max-width: 380px;
}

form .reset-password {
    border-top: 1px solid var(--light-gray);
    padding-top: 20px;
    margin-top: 5px;
}

form .reset-password button {
    width: 100%;
    background: #a8a8a8;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
}